@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: "PressStart2P-Regular";
    src: url("../assets/PressStart2P-Regular.ttf");
}

*,
html,
body {
    color: white;
    font-family: "PressStart2P-Regular";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(33, 33, 33);
}

#level {
    z-index: 10;
}

#level.enabled:hover {
    color: rgb(68, 255, 0);
}

#board {
    width: 450px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    align-items: center;
    align-content: space-evenly;
    justify-content: space-evenly;
    background-color: azure;
}

#board.enabled:hover {
    box-shadow: 0px 0px 25px rgb(255, 86, 86);

}

.box {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 35%;
    border-radius: 20px;
    border: 2px solid rgb(67, 67, 67);
    box-shadow: 0px 0px 5px rgb(80, 80, 80);
}

.box.enabled:hover {
    border: none;
    transform: scale(0.9);
    color: black;
}

.red {
    background-color: salmon;
}

.green {
    background-color: aquamarine;
}

.blue {
    background-color: skyblue;
}

.yellow {
    background-color: rgb(255, 195, 98);
}

/* utility */
.none {
    display: none;
}

#user {
    position: absolute;
    color: aquamarine;
    top: 40px;
    right: 40px;

}

.prompt {
    z-index: 9;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(254, 196, 196, 0.8);
}

.prompt-dialogue {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30vh;
    line-height: 6vh;
    font-weight: lighter;
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%);
    border: 5px solid red;
}